<div class="card-product">
  <img src="https://loremflickr.com/320/240/<%= product.name %>" />
  <div class="card-product-infos">
    <h2><%= product.name %></h2>
    <p><%= product.tagline %></p>
  </div>
</div>
